## Name - SHUBHANKAR VISHWAKARMA
## Batch-DS2402
## Assignment- Regular Expressions - (1)

## Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [1]:
import regex as re
Sample_text= 'Python Exercises, PHP exercises.'
replace_colon = re.sub("[ ,.]",":",Sample_text)
print("my output is : ",replace_colon)

my output is :  Python:Exercises::PHP:exercises:

## Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [2]:
import pandas as pd
Dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
data= pd.DataFrame(Dictionary)
data["SUMMARY"]=data["SUMMARY"].str.replace(r'[,!;:.]|X+|\d+','',regex=True)
print(data)

         SUMMARY
0    hello world
1           test
2  four five six

In [3]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
Pyth_str = "i things Shri Nandar Modi ji will be won the election by held oin Uttar pardesh"
pattern = re.compile(r"\w{4,}")
search_char = pattern.findall(Pyth_str)
search_char

['things',
 'Shri',
 'Nandar',
 'Modi',
 'will',
 'election',
 'held',
 'Uttar',
 'pardesh']

In [4]:
#Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
string1 = "rohan is gona to market and he would byu a circket bat after buing circket bat came home"
pattern1=re.compile("\w{3,5}")
funct1=pattern1.findall(string1)
print("the word which we have:",funct1)

print("...............................................................................................\n")

pattern1=re.compile("\w{3,5}")
def pattern_find(str1):
    ver1=pattern1.findall(str1)
    print("after using function : ",ver1)
str1 = "rohan is gona to market and he would byu a circket bat after buing circket bat came home"
pattern_find(str1)

the word which we have: ['rohan', 'gona', 'marke', 'and', 'would', 'byu', 'circk', 'bat', 'after', 'buing', 'circk', 'bat', 'came', 'home']
...............................................................................................

after using function :  ['rohan', 'gona', 'marke', 'and', 'would', 'byu', 'circk', 'bat', 'after', 'buing', 'circk', 'bat', 'came', 'home']

In [5]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

patter1=re.compile(r"[ ()]")
list1=[]
def func_para(Sample_Text):
    for i in (Sample_Text):
        ax=re.sub(patter1,"",i)
        list1.append(ax)
        return list1
Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
A=func_para(Sample_Text)
print(A)

['example.com']

In [6]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample_Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Emp_list=[]
pattern=re.compile('[() ]')
for i in Sample_Text:
    a=pattern.sub('',i)
    Emp_list.append(a)
print(Emp_list)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloDataScienceWorld', 'DataScientist']

In [7]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample_text = "ImportanceOfRegularExpressionsInPython"
split_string = re.compile("[A-Z][a-z]+")
data=split_string.findall(Sample_text)
data

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample_Text= 'RegularExpression1IsAn2ImportantTopic3InPython'
pattern=re.compile(r'[A-Z][a-z]+|\d')
list1=pattern.findall(Sample_Text)
print(list1)
print(".................................................................................................\n")
new_sample_text= ' '.join(list1)
print(new_sample_text)

['Regular', 'Expression', '1', 'Is', 'An', '2', 'Important', 'Topic', '3', 'In', 'Python']
.................................................................................................

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [9]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample_Text = "RegularExpression1IsAn2ImportantTopic3InPython"
test_insert = re.findall(r"[A-Z][a-z]+|\d",Sample_Text)
test_insert1 = " ".join(test_insert)
test_insert1

'Regular Expression 1 Is An 2 Important Topic 3 In Python'

In [10]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
data=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
data
a=data['Country'].str.extract(r'(\w{1,6})')
data['first_five_letters']=a
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [11]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
string1 = "Python program to match a string that contains only upper and"
pattern = re.compile(r'^[a-zA-Z0-9_]+$')

match_data=pattern.match(string1)
print(match_data)

None

In [12]:
#Question 12- Write a Python program where a string will start with a specific number. 
str1="12 hewfs auih wef wegv"
pattern = re.compile("12")
specif_patr = pattern.findall(str1)
specif_patr

['12']

In [13]:
#Question 13- Write a Python program to remove leading zeros from an IP address
ip_address = "010.0100.023.0210.05.42"
rem = re.sub("^0","",ip_address)
print(rem)

10.0100.023.0210.05.42

In [14]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample_text='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
a=re.findall(r'[A-Z][a-z]+ \d+\w+ \d+\b', Sample_text)
print(a)

['August 15th 1947']

In [15]:
#Question 15- Write a Python program to search some literals strings in a string. 
Sample_text= 'The quick brown fox jumps over the lazy dog.'
Searched_words = ['fox', 'dog','horse']
a=re.findall('fox|dog|horse', Sample_text)
print(a)

['fox', 'dog']

In [16]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample_text= 'The quick brown fox jumps over the lazy dog.'
Searched_words='fox'
a= re.search('fox',Sample_text)
print(a)

<regex.Match object; span=(16, 19), match='fox'>

In [17]:
#Question 17- Write a Python program to find the substrings within a string.
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
a= re.findall('exercises', Sample_text)
print(a)

['exercises', 'exercises', 'exercises']

In [18]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
Sample_text = 'Numpy exercises, JS exercises, C# exercises'
Pattern = 'exercises'
a= re.finditer('exercises', Sample_text)
print(a)

<_regex.Scanner object at 0x0000018C8252C650>

In [19]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
date= '2024-01-06'
date_list= re.split('-',date)
date_list.reverse()
date_list
new_date='-'.join(date_list)
print(new_date)

06-01-2024

In [20]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample_Text= '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
decimals=  re.findall(r'\b\d+\.\d{1,2}\b',Sample_Text)
print(decimals)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [21]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.
string='i love my 123india1456'
digits= re.finditer('\d+', string)
for i in digits:
    print(i)

<regex.Match object; span=(10, 13), match='123'>
<regex.Match object; span=(18, 22), match='1456'>

In [22]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string
Sample_Text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
digits_list1= re.findall(r'\d+', Sample_Text)
print(digits_list1)
print('the maximum: ', max(digits_list1))

['947', '896', '926', '524', '734', '950', '642']
the maximum:  950

In [23]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample_Text= 'RegularExpressionIsAnImportantTopicInPython'
word= re.findall('[A-Z][a-z]+',Sample_Text)
print(word)
new_string= ' '.join(word)
print(new_string)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']
Regular Expression Is An Important Topic In Python

In [24]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
Sample_Text= 'Python regex to find sequences of one upper case letter followed by lower case letters'
word_starting= re.findall('[A-Z][a-z]+',Sample_Text)
print(word_starting)

['Python']

In [25]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample_Text="Hello hello world world"
duplicate= re.findall(r'\w+',Sample_Text)
duplicate= set(duplicate)
duplicate=list(duplicate)
duplicate=' '.join(duplicate)
print(duplicate)

hello world Hello

In [26]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
string='python program using 2001 RegEx to accept string ending'
string_list=re.findall('[A-Za-z0-9]$',string)
if len(string_list)!=0:
    print(' string ends with alphanumeric')
else:
    print(' does not ends with alphanumeruc')

 string ends with alphanumeric

In [27]:
#Question 27-Write a python program using RegEx to extract the hashtags.
Sample_Text= """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
extract_hashtags=re.findall(r'#\w+',Sample_Text)
print(extract_hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [28]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbolsCheck the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample_Text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
new_sample= re.sub(r'<U\+\w+>','', Sample_Text)
print(new_sample)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [ ]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
with open('bulk_sam.txt') as file:
    for line in file:
        string=line
dates= re.findall(r'\d{2}-\d{2}-\d{4}',string)
print(dates)

In [ ]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern= re.compile(r'\b\w{2,4}\b')
new_sample=pattern.sub('',Sample_Text)
print(new_sample)

In [ ]:
pip install regex

## Thank You